.page
  display: flex
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.peco-data-filter
  background: #fff
  border-bottom: solid 1px #e6e6e6
  padding: 10px

.el-form-item
  margin-bottom: 0

.peco-toolbar
  background: #fff
  border-bottom: solid 1px #e6e6e6
  padding: 10px
