.page
  display: flex
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.peco-data-filter
  background: #fff
  border-bottom: solid 1px #e6e6e6
  padding: 10px

.peco-data-filter
  & .el-form-item
    margin-bottom: 0
  & .el-row + .el-row
    margin-top: 10px

.peco-toolbar
  background: #fff
  border-bottom: solid 1px #e6e6e6
  padding: 10px

.el-date-editor.el-input, .el-date-editor.el-input__inner
  width: 200px

.align-right
  text-align: right
